<p-panel header="Pipes Personalizados" class="p-1">
  <p>
    Pipes Personalizados - Creados a medida por {{'nosotros'| toggleCase}}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search" class="mr-2"/>
  </div>
  <div class="p-toolbar-group-end">
    <p-button label="Por Nombre" icon="pi pi-sort" class="mr-2" styleClass="p-button-success"/>

    <p-button label="Por Volar" icon="pi pi-sort" class="mr-2" styleClass="p-button-danger"/>

    <p-button label="Por Color" icon="pi pi-sort" class="mr-2" styleClass="p-button-warning"/>
  </div>
</p-toolbar>
